.dates {
    background-color: #ee6e73;
    color: white;
    text-align: right;
}


#waardeTable {
    margin-top: 10%;
    text-align: center;
}

    #waardeTable p {
        text-align: center;
    }
